.container {
    height: 100vh;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    overflow-y: auto;
    padding: 0px auto;
}

.container h1 {
    font-size: 40px;
    font-weight: 400;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 60px;
}

.completed {
    color: rgba(10, 171, 10, 0.684);
}

.important {
    color: rgba(218, 165, 32, 0.766);
}

@media screen and (max-width: 850px) {
    .container h1 {
        font-size: 32px;
    }
}